body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;    
    font-size: 20px;    
    color: #333;
    margin: 0em;
    background-color: transparent;
    
}
.image2{
    visibility: hidden;
    z-index: -100;
    position: fixed;
    top: 1918.19px;
    left: 0px;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    height: 313px;
    width: 785px;
}

.image2>img{
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    top: -1534.55px;
    left: -340px;
    height: 572px;
    width: 1466px;
    max-width: none;
    vertical-align: middle;
}

.image3{
    visibility: visible;
    z-index: -100;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    height: 614px;
    width: 785px;
}

.image3>img{
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    top: 0px;
    left: -132px;
    height: 614px;
    width: 1050px;
    max-width: none;
    vertical-align: middle;
}
.nav-container{
    width:100%;
    min-height:50px;
    background: #383e4c;
    border-color:#383E4C;
    border-width:0em 0em 1em 0em;
    position:fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom:1em;
    margin-top:0em;
    border: 1px solid transparent;
    display: block;
}

.nav-list{    
    padding-right: 15px;
    padding-left: 15px;
    margin:0.5em 7em 0.5em 14em;    
    text-align: center;
    display: inline-block;
    float: none;
    padding-left: 0;  
       
}
.nav-list>a{
    color:white;
    display: inline-block;
    position: relative;    
    display: inline-block;
    border:0.05em solid #708090;
    padding:1em;
    text-decoration: none;
    margin-right:1em;

}
.conqueror-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    padding-top:4em;   
    margin-right: -15px;
    margin-left: -15px;
    text-align:center;    
    height: 600px;     
    position: relative;
    top:-40px;
} 

.conqueror-container .content{
    bottom:-40px;    
    z-index: 40;
}

.conqueror-container .row .content > h1{
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;    
    font-weight: 500;
    line-height: 1.1;
    margin: .67em 0;    
}
*, :before, ::after{
    box-sizing: border-box; 
}
.conqueror-container .row .content  > h4{    
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
#image1{    
    display:none;
    z-index: -100;
    position: fixed; 
    /* top: 4121.28px; */
    /* left: 0px; */
    /* overflow: hidden;
    transform: translate3d(0px, 0px, 0px);    
    height: 577px;
    width: 785px;      */
}

/* .image1 > img{
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    top: -3297.03px;
    left: -212px;
    height: 625px; 
    width: 1209px; 
    max-width: none;
    vertical-align: middle;
} */



